header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    transition:  padding 1s ease, background-color 1s ease;
    background-color: #33333385;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  header.scrolled{
    background-color: #333333e5;
    height: 100vh;
  }
  header.scrolled img{
    height: 80vh;
    animation: animationx 4s ease;
  }
  @media (max-width: 640px) {
    header.scrolled img{
        height: 15vh;
    }
  }
  header.scrolled a{
    opacity: 0;
  }
  header.scrolled p{
    opacity: 0;
  }
  header.scrolled .avatar{
    opacity: 0;
  }
  
@keyframes animationx{
    from{
      transform: translateX(-2000px);
    }
    to{
      transform: translateX(0px);
    }
    
  }
  
  .logo-container{
    display: flex;
    align-items: center;
    transition: transform 1s ese, margin 1s ease;
  }
  
  .logo{
    height: 50px;
    transition: height 1s ease, margin 1s ease;
  }
  
  
  .navbar{
    display: flex;
    gap: 20px;
    align-items: center;
    transition: color 0.3s ease, font-size 0.3s ease;
    color: #fff;
  }
  
  .roll-left{
    animation: roleLeft 2s ease-in-out;
  }

  @keyframes roleLeft{
    from{
        opacity: 0.3;
        transform: translateX(-2000px);
      }
      to{
        opacity: 1;
        transform: translateX(0px);
      }
  }
  
  .roll-right{
    animation: rollRight 2s ease-in-out;
  }

  @keyframes rollRight{
    from{
        opacity: 0.3;
        transform: translateX(2000px);
      }
      to{
        opacity: 1;
        transform: translateX(0px);
      }
  }